* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: sans-serif;
	font-size: 16.5%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff;
	font-size: 6em;
}

a {
	display: inline-block;
	text-decoration: none;
}

.button {
	color: #fff;
	background: #55acee;
	border-radius: 4px;
	font-size: 6rem;
	padding: 10px;
}

.button.grey {
	background-color: #292f33;
}

.button:hover {
	background: #66757f;
}

#header {
	height: 60px;
	background: #fff;
	font-size: 4rem;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.logo {
	font-size: 10rem;
	font-weight: bold;
	line-height: 60px;
	float: left;
}

.textBorder {
	color: #fff;
	text-shadow: 1px 0 0 #292f33, -1px 0 0 #292f33, 0 1px 0 #292f33, 0 -1px 0 #292f33;
}

#menu {
	float: right;
	line-height: 60px;
}

#menu > * {
	line-height: normal;
	vertical-align: middle;
	display: inline-block;
}

.blue {
	color: #55acee;
}

.wrapper {
	width: 800px;
	margin: auto;
}

.clear:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}

.bodyContent {
	margin-top: 60px;
}

#index {
	background-color: #55acee;
	height: 300px;
	line-height: 300px;
}

#index .cover {
	line-height: normal;
	vertical-align: middle;
	display: inline-block;
}

.slogan {
	color: #fff;
	margin-bottom: 5px;
	font-weight: normal;
}

.onlineList {
	display: none;
}

.debatPreview {
	display: none;
}

#footer {
	color: #66757f;
	font-size: 0.9em;
	padding-top: 10px;
	box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.5);
}

#footer:after {
	content: "";
	display: block;
	height: 10px;
	background: #fff;
	position: relative;
	top: 9px;
}