* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: sans-serif;
	font-size: 16.5%;
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff;
	font-size: 6em;
	height: 100%;
	padding-top: 60px;
}

button {
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.button {
	color: #fff;
	background: #55acee;
	border-radius: 4px;
	font-size: 6rem;
	padding: 10px;
}

.button.grey {
	background-color: #292f33;
}

.button:hover {
	background: #66757f;
}

#header {
	height: 60px;
	background: #fff;
	font-size: 4rem;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.logo {
	font-size: 10rem;
	font-weight: bold;
	line-height: 60px;
	float: left;
}

.textBorder {
	color: #fff;
	text-shadow: 1px 0 0 #292f33, -1px 0 0 #292f33, 0 1px 0 #292f33, 0 -1px 0 #292f33;
}

#menu {
	float: right;
	line-height: 60px;
}

#menu > * {
	line-height: normal;
	vertical-align: middle;
	display: inline-block;
}

.blue {
	color: #55acee;
}

#menu > .connect {
	position: relative;
	height: 38px;
	padding: 0 10px;
	line-height: 38px;
	vertical-align: middle;
}

.connect img {
	float: right;
	height: 100%;
	margin-right: -10px;
	margin-left: 10px;
}

.bodyContent {
	height: 100%;
}

.sign {
	padding: 10px 50px;
}

#debatePage {
	height: 100%;
}

.wrapper {
	width: 800px;
	margin: auto;
}

.clear:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}

.section {
	background-color: #55acee;
	min-height: 300px;
	line-height: 300px;
}

.section .cover {
	line-height: normal;
	vertical-align: middle;
	display: inline-block;
}

.slogan {
	color: #fff;
	margin-bottom: 5px;
	font-weight: normal;
}

.onlineList {
	display: none;
}

.debatPreview {
	display: none;
}

#footer {
	color: #66757f;
	font-size: 0.9em;
	padding-top: 10px;
	box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.5);
}

#footer:after {
	content: "";
	display: block;
	height: 10px;
	background: #fff;
	position: relative;
	top: 9px;
}

.debateHandler {
	line-height: normal;
	padding-top: 20px;
}

.msgDebateHandler {
	margin-bottom: 10px;
	font-size: 0;
}

.msgDebateHandler > * {
	font-size: 6rem;
	vertical-align: top;
}

.user {
	position: relative;
	overflow: hidden;
	width: 50px;
	float: left;
	font-size: 0;
}

.msgDebateHandlerReverse .user {
	float: right;
}

.user img {
	width: 50px;
	height: 50px;
}

.user:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top: -8px;
	right: -8px;
}

.msgDebateHandlerReverse .user:after {
	right: auto;
	left: -8px;
}

.blockquote {
	background: #fff;
	padding: 15px;
	float: left;
	min-width: calc(50% - 40px);
	max-width: calc(100% - 50px);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.msgDebateHandlerReverse .blockquote {
	float: right;
}

.msg {

}

.author {
	margin-top: 3px;
	font-size: 0.9em;
}

.author a {
	color: #8899a6;
}

.newMsgHandler {
	margin: 10px 0 0;
	background: #292f33;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.newMsgHandler .wrapper {
	min-height: 0;
	line-height: normal;
	padding: 30px 0;
}

.newMsgInputHandler {
	margin-left: 50px;
	margin-right: 105px;
	font-size: 0;
}

.newMsg {
	width: 100%;
	height: 70px;
	font-size: 6rem;
	padding: 10px;
	border: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.sendMsg {
	float: right;
}