<div class="section">
	<div class="wrapper clear">
		<div class="addDebate clear">
			<label for="title">Titre</label>
			<input id="title" type="text" ng-model="title" />
			<label for="desc">Description</label>
			<textarea id="desc" ng-model="description"></textarea>
			<label for="tweet">Lien vers un tweet (optionnel - non fonctionnel)</label>
			<input id="tweet" type="text" ng-model="tweet" />
			<button class="button sendMsg" ng-click="createDebate()">Lancer le débat</button>
		</div>
	</div>
</div>

<footer id="footer">
	<div class="wrapper">
		<a href="http://twagora.tumblr.com/" target="_blank">Blog</a> - 
		<a href="https://twitter.com/TwagoraApp" target="_blank">Twitter</a>
	</div>
</footer>
