<div class="section" id="indexPage">
	<div class="wrapper">
		<div class="cover">
			<h1 class="slogan">Débattez. Unleash the hounds !</h1>
			<a href="#" class="button grey sign" ng-click="login('twitter')" ng-hide="auth.user">Je m'inscris</a>
			<a href="#/create/debate" class="button grey sign" ng-show="auth.user">Commencer un débat</a>
		</div>
		<ul class="onlineList">
			<li class="people"></li>
		</ul>
	</div>
</div>
<div class="afterCover">
	<div class="wrapper clear">
		<div class="welcomeMsg">
			<h3 class="title">Bienvenue !</h3>

			<p class="debatePreviewDesc">
				<span class="siteName">Tw<span class="blue">A</span>gora</span> est une plateforme de débat qui a pour objectif de vous permettre de discuter des sujets qui vous importent en s'intégrant au mieux à Twitter. 
				Vous voulez réagir à un tweet mais la limite des 140 caractères risque d'être un problème ?<br>
				<br>
				Vous êtes au bon endroit !<br>
				<br>
				<span class="siteName">Tw<span class="blue">A</span>gora</span> est le fruit d'un seul week-end de travail, et a encore beaucoup de chemin à parcourir pour remplir sa mission.<br>
				<br>
				Si vous avez des suggestions de fonctionnalités que vous voudriez voir sur le site, venez faire un tour sur <a href="http://twagora.parseapp.com/#/debate/-JWGWdxg6R0TYcr68QI_">la Roadmap</a><br>
				<br>
				Si vous trouvez des bugs, <a href="http://twagora.parseapp.com/#/debate/-JWGWl1sTMxYrNsetNhe">la Buglist</a> est le débat que vous cherchez !<br>
				Pour les problèmes de sécurité, préférez nous envoyer un mail directement à twagora@gmail.com<br>
				<br>
				Et si vous voulez simplement faire part de votre enthousiasme pour Twagora, passez nous faire coucou dans <a href="http://twagora.parseapp.com/#/debate/-JWH7TIWRxZDPZCfKHj8">le Livre d'or</a> !<br>
				<br>
				L'équipe de <span class="siteName">Tw<span class="blue">A</span>gora</span><br>
			</p>
		</div>
		<div class="debatePreviewHandler clear">
			<div class="debatePreviewShadow"></div>
			<div class="debatePreview">
				<h3 class="title">Débats en cours</h3>
				<ul class="debateLst">
					<li class="debate" ng-repeat="debate in debates">
						<div class="clear">
							<a href="{{ '#/debate/' + debate.$id }}">
								<img ng-src="{{ 'http://twitter.com/api/users/profile_image/' + debate.user_id + '?size=normal' }}">
								<div class="debateLstTitle">{{ debate.title }}</div>
								<div class="debatePreviewDesc">{{ debate.description }}</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="footerTrick"></div>


<footer id="footer">
	<div class="wrapper">
		<a href="http://twagora.tumblr.com/" target="_blank">Blog</a> - 
		<a href="https://twitter.com/TwagoraApp" target="_blank">Twitter</a>
	</div>
</footer>
