<div class="section" id="debatePage">
	<div class="wrapper">
		<div class="debateHandler">
			<div class="debateDescHandler" ta-dropdown>
				<div class="debateDesc">
					<h2 class="h2Like">{{ debate.title }}</h2>
					<div class="desc">
						{{ debate.description }}
						<div class="author">
							Débat ouvert par {{ debate.displayName }} - 
							<a href="{{ 'https://twitter.com/account/redirect_by_id/' + debate.user_id }}" target="_blank">
								@{{ debate.username }}
							</a>
							le {{ debate.date | date:'dd/MM/yyyy' }}
							à {{ debate.date | date:'HH:mm' }}
						</div>
					</div>
				</div>
				<div class="debateDescToggle"></div>
			</div>
			<div class="msgDebateHandler clear" ng-repeat="message in messages">
				<div class="user">
					<img ng-src="{{ 'http://twitter.com/api/users/profile_image/' + message.user_id + '?size=normal' }}">
				</div>
				<blockquote class="blockquote">
					<p class="msg" ng-bind-html="message.body">{{ message.body }}<p>
					<footer class="author">
						Par {{ message.displayName }} -
						<a href="{{ 'https://twitter.com/' + message.username }}" target="_blank">
							@{{ message.username }}
						</a>
						le {{ message.date | date:'dd/MM/yyyy' }}
						à {{ message.date | date:'HH:mm:ss' }}
						<span ng-click="deleteMessage(message)" ng-show="message.user_id != user.id">supprimer</span>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<div class="newMsgHandler">
	<div class="wrapper">
		<div ng-show="auth.user">
			<div class="user">
				<img ng-src="{{ user.thirdPartyUserData.profile_image_url }}">
			</div>
			<button class="button sendMsg" ng-click="sendMessage()">Répondre</button>
			<div class="newMsgInputHandler" ng-model="newMessage" autofocus>
				<textarea class="newMsg" ng-model="newMessage" ng-keypress="sendMessage($event)" autofocus></textarea>
			</div>
		</div>
		<div class="white" ng-hide="auth.user">
			<button class="button connect" ng-click="login()">Connectez vous</button>
			<span>pour participer au débat</span>
		</div>
	</div>
</div>
