<blockquote ng-repeat="message in messages" ng-class="($index % 2) && 'blockquote-reverse'">
	<p>{{ message }}<p>
	<footer>Someone</footer>
</blockquote>


<div class="row">
	<div class="col-md-11">
		<textarea class="form-control" rows="3"  ng-model="newMessage" autofocus></textarea>
	</div>
	<div class="col-md-1">
		<img src="https://lh5.googleusercontent.com/-LHZ-_eEvhzQ/AAAAAAAAAAI/AAAAAAAAAAA/pofes4-IwdU/s32-c/photo.jpg" alt="..." class="img-circle pull-right" ng-click="sendMessage()">
	</div>
</div>
