<div class="section">
	<div class="wrapper">
		<div class="debateHandler">
			<div class="msgDebateHandler clear" ng-repeat="message in messages" ng-class="($index % 2) && 'msgDebateHandlerReverse'">
				<div class="user">
					<img ng-src="{{ 'http://twitter.com/api/users/profile_image/' + message.user_id + '?size=normal' }}">
				</div>
				<blockquote class="blockquote">
					<p class="msg">{{ message.body }}<p>
					<footer class="author">{{ message.from }}</footer>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="newMsgHandler">
		<div class="wrapper">
			<div class="user">
				<img src="https://lh5.googleusercontent.com/-LHZ-_eEvhzQ/AAAAAAAAAAI/AAAAAAAAAAA/pofes4-IwdU/s32-c/photo.jpg">
			</div>
			<button class="button sendMsg" ng-click="sendMessage()">Répondre</button>
			<div class="newMsgInputHandler" ng-model="newMessage" autofocus>
				<textarea class="newMsg" ng-model="newMessage" autofocus></textarea>
			</div>
		</div>
	</div>
</div>
<!-- ng-src="user.thirdPartyUserData.profile_image_url" -->
